@font-face {
    font-family: ARMALITE_RIFLE;
    src: url(./Fonts/ARMALITE_RIFLE.TTF);
    font-weight: 300;
}

@font-face {
    font-family: Bebas kai;
    src: url(./Fonts/BebasKai.TFF);
}